body {
  background-color: #EEEEEE;
}

.display {
  width: 100vw;
}

.flex-table {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 60px 100px;
}

.flex-column-day {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: -320px;
}

.day-card {
  width: 120px;
  background-color: white;
  align-self: center;
  text-align: center;
  margin-bottom: 10px;
}

.time-card {
  width: 60px;
  background-color: white;
  align-self: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

p {
  text-align: center;
}

h2 {
  font-size: 20px;
}