li {
    list-style-type: none;
}

.flex-table {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 150px;
}

.flex-column-day {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.day-card {
    display: flex;
    background-color: white;
    align-self: center;
}